<!-- views/productCar.ejs-->
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>   
        <%- include ('./partials/header.ejs') %>
        <ol class="location">
            <li class="location item">
                <a href="/">Home</a>
                <i class="fas fa-chevron-right"></i>
            </li> 
            <li class="location item">
                <a href="productCar">Morral de compras</a>
                <i class="fas fa-chevron-right"></i>
            </li>
        </ol>
        <div class="Page Title">
            Morral de Compras
        </div>
        <div class="container">
            <table class="table_design">
                <thead>
                    <tr class="tableRow">
                        <th class="table_header">Image</th>
                        <th class="table_header">Product</th>
                        <th class="table_header">Price</th>
                        <th class="table_header">Quantity</th>
                        <th class="table_header">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('./partials/product_in_bag.ejs',{ProductName:"Acelga",Price:"500.00",ProductImg:"/img/acelga.png",Quantity:"2"}) %>
                    <%- include('./partials/product_in_bag.ejs',{ProductName:"cebollin",Price:"200.00",ProductImg:"/img/cebollin.png",Quantity:"5"}) %>

                </tbody>

            </table>
            <div class="card-body">
                <h3 class="card-title">Cart Totals</h3>
                <table class="cart__totals">
                    <thead class="cart__totals-header"><tr><th>Subtotal</th><td>$5,877.00</td></tr></thead>
                    <tbody class="cart__totals-body">
                        <tr>
                            <th>Shipping</th>
                            <td>$25.00
                                <div class="cart__calc-shipping">
                                    <a href="#">Calculate Shipping</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Tax</th>
                            <td>$0.00</td>
                        </tr>
                    </tbody>
                    <tfoot class="cart__totals-footer"><tr><th>Total</th><td>$5,902.00</td></tr></tfoot>
                </table>
                <a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="checkout.html">Proceed to checkout</a>
            </div>
        </div>
    </body>
    <%- include ('./partials/footer.ejs') %>
</html>